{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<style>
.navbar-inverse { color: #d5f3fe; background-color: #0f5298}
.navbar-inverse .navbar-nav>li>a { color: #d5f3fe;    background-color: #0f5298}
.navbar-inverse .navbar-brand {color: #66d3fa;}
p.breaks {white-space: pre-line};
</style>
{% endblock %}

{% block title %}dashboard{% endblock %}

{% block navbar %}

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">                
                <li><a href="/sliders">sliders</a></li>   
                <li><a href="/bokehtest">bokeh</a></li>                   
                <li><a href="/bokehserver">bokehserver</a></li>    
                <li><a href="/scatter">scatter</a></li>   
                <li><a href="/mpg_sliders">sliders</a></li>   

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://twitter.com/nebelgrau77">contact me</a></li>
                <li><a href="https://github.com/nebelgrau77/">my code</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}