<!DOCTYPE html>
{% extends "base.html" %}


{% block head %}
    {{ super() }}
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}

{% endblock %}

{% block body %}
    {{ super() }}

    <div class="container">

        <div class = "page-header">
            <h4>Info about the dataset, EDA and cleanup <a href="https://github.com/nebelgrau77/cars_mpg_eda">here</a>.</h4>
            <br>
            <h4>Current data: {{origin}} {{year}}</h4>
        </div>

        <div class="row">
            <div class="col-md-9">
                {{ plot_div|indent(4)|safe }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <p class = "breaks">Choose origin and model year:</p>
            </div>
            <div class="col-md-6">
                <form action='/better_sliders'>                    
                    <select name="origin">
                        {% for o in origins %}
                            <option value="{{ o }}">{{ o }}</option>
                        {% endfor %}
                    </select>
                    <select name="year">
                        {% for y in years %}
                            <option value="{{ y }}">{{ y }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit">
                </form>
            </div>

        </div>

        <div class="row">
        <br>
        </div>

        <div class="row">
            <div class="col-md-9">
                <p class = "breaks">{{explanation}}</p>
            </div>
        </div>

</div>


{% endblock %}

</html>