<!DOCTYPE html>
{% extends "base.html" %}


{% block head %}
    {{ super() }}
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}

{% endblock %}

{% block body %}
    {{ super() }}

    <div class="container">

        <div class = "page-header">
            <h3>{{origin}} {{year}}</h3>
        </div>
   
    <div class="row">
        <div class="col-lg-9">
            {{ plot_div|indent(4)|safe }}
        </div>

        <div class="col-lg-3">
            <p>some text here to explain what the sliders are for, what the number is etc.</p>
        </div>


    </div>



    <div class="row">
        <div class="col-lg-6">
            <form action='/mpg_sliders	'>
                <select name="year">
                    {% for y in years %}
                        <option value="{{ y }}">{{ y }}</option>
                    {% endfor %}
                </select>        
                <select name="origin">
                    {% for o in origins %}
                        <option value="{{ o }}">{{ o }}</option>
                    {% endfor %}
                </select>    
                <input type="submit">    
            </form>
        </div>        
    </div>

</div>

{% endblock %}

</html>