<!DOCTYPE html>
{% extends "base.html" %}


{% block head %}
    {{ super() }}
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}

{% endblock %}

{% block body %}
    {{ super() }}

    <div class="container">

        <div class = "page-header">
            <h3>Test value: {{ value 	}}</h3>
        </div>

    <div class="row">
        <form action='/multi_chart'>
            <select name="year">
                {% for y in years %}
                    <option value="{{ y }}">{{ y }}</option>
                {% endfor %}
            </select>
        
            <select name="origin">
                {% for o in origins %}
                    <option value="{{ o }}">{{ o }}</option>
                {% endfor %}
            </select>
    
            <input type="submit">
    
        </form>
    </div>

    <div class="row">

        <div class="col-lg-6">
            {{ plot_div|indent(4)|safe }}
        </div>
    </div>

</div>

{% endblock %}

</html>