<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}selector test{% endblock %}

{% block content %}
<div class="container">
<div class = "page-header">
    <h3>Test selections</h3>
</div>

<h4>Origin: {{origin}}</h4>
<h4>Query result: {{query}}</h4>

<br>

<h4>select year and origin:</h4>

<form action='/better_sliders'>
  <select name="year">
    {% for y in model_years %}
    <option value="{{ y }}">{{ y }}</option>
    {% endfor %}
  </select>
  <select name="origin">
    {% for o in origins %}
    <option value="{{ o }}">{{ o }}</option>
    {% endfor %}
  </select>
  <input type="submit">
</form>

</div>
{% endblock %}

</html>